@font-face {
    font-family: 'burtons_nightmareregular';
    src: url('../fonts/nitemare-webfont.eot');
    src: url('../fonts/nitemare-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nitemare-webfont.woff') format('woff'),
         url('../fonts/nitemare-webfont.ttf') format('truetype'),
         url('../fonts/nitemare-webfont.svg#burtons_nightmareregular') format('svg');
    font-weight: normal;
    font-style: normal; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none; }

::selection {
    background: #b3d4fc;
    text-shadow: none; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }

img {
    vertical-align: middle; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0; }

textarea {
    resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* !01 GENERAL STYLES */

/*
Body styles 
Links / Colour
Headings / Typography
Other elements 
*/

html {
  font-size: 62.5%;
  background: #fff; }
  
body {
  font-family: Verdana,Arial,sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3;
  margin: 0 auto;
  color: #fff;
  background: 
    url(../img/ptrn_bkg.jpg) 50% 0 repeat-x,
    #000;
  text-align: center; }
  
  .no-multiplebgs {
    background: url(../img/ie_bkg.jpg) 50% 0 no-repeat; }
  
img,
embed,
object,
video {
  max-width: 100%; }

/*  Headings / Typography */

h1, h2, h3, h4, h5, h6, p {
  font-style:normal;
  font-weight:normal; }

p {}

/* Links / Colour */

a:link,
a:visited,
a:hover,
a:focus,
a:active { color: #fff; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* !02 HELPER STYLES */

/*
Forms 
Notifications and errors 
Consistent items 
*/

form {
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* !03 PAGE STRUCTURE */

/*
Page structure 
Headers, footers, and navigation 
Layout 
Other page furniture 
*/

article {
  background: url(../img/btm_motif.png) 50% bottom no-repeat;
  padding: 0 0 60px; }

header {
  position: relative;
  padding-top: 10px;
  overflow: hidden; }
  
  header h1 img {
      margin: 0 auto;    
    -webkit-animation: scaleLogo 4s ease-in-out 0s infinite alternate;
       -moz-animation: scaleLogo 4s ease-in-out 0s infinite alternate;
        -ms-animation: scaleLogo 4s ease-in-out 0s infinite alternate;
         -o-animation: scaleLogo 4s ease-in-out 0s infinite alternate;
            animation: scaleLogo 4s ease-in-out 0s infinite alternate; }
@-webkit-keyframes scaleLogo { from { -webkit-transform: scale(1); } to { -webkit-transform: scale(1.1); } }
   @-moz-keyframes scaleLogo { from {    -moz-transform: scale(1); } to {    -moz-transform: scale(1.1); } }
    @-ms-keyframes scaleLogo { from {     -ms-transform: scale(1); } to {     -ms-transform: scale(1.1); } }
     @-o-keyframes scaleLogo { from {      -o-transform: scale(1); } to {      -o-transform: scale(1.1); } }
        @keyframes scaleLogo { from {         transform: scale(1); } to {         transform: scale(1.1); } }

     .location,
     .date { width: 46%; }
     
     .location { 
        float: left;
        margin-left: 2%; }
     .date { 
        float: right;
        margin-right: 2%; }
     
.ambassadors {
  background: url(../img/top_frm.png) 50% 0 no-repeat;
  font-family: 'burtons_nightmareregular',Georgia,Times,serif;
  line-height: 1.5;
  font-size: 46px;
  font-size: 4.6rem;
  text-shadow: 0 2px 2px #000;
  margin: 0 0 12px;
  padding: 56px 0 0; }
  
  .ambassadors p { 
    font-size: 29px; 
    font-size: 2.9rem;
    margin: 0; }

    .ambassadors p span { 
      font-size: 46px;
      font-size: 4.6rem;
      position: relative;
      top: 10px; }
      
  .ambassadors ul {
      width: 840px;
      margin: 0 auto; }
      
  .ambassadors ul li {
    display: inline;
    background: url(../img/skull.png) 100% 28px no-repeat;
    padding-right: 30px; }
    
  .lt-ie8 .ambassadors ul li {
    background: url(../img/skull.png) 100% 12px no-repeat;
    padding-right: 14px;
    margin-right: 14px; }

  .ambassadors ul li:nth-child(3n) {
    background: none;
    padding-right: 0; }
  
.intro {
  background: url(../img/mid_frm.png) 50% 0 no-repeat;
  padding: 6px 0 0;
  margin: 0 auto 20px;
  overflow: hidden; }
  
  .intro h2 { 
    font: 30px 'burtons_nightmareregular',Georgia,Times,serif;
    font: 3rem 'burtons_nightmareregular',Georgia,Times,serif;
    text-shadow: 0 2px 2px #000;
    margin-bottom: 8px; }
    

  .intro div {
      margin: 0 auto;
      width: 96%;
}
    
.email {
  background: url(../img/mid_frm.png) 50% 0 no-repeat;
  padding: 16px 0 0;
  position: relative; }
  
  .email p {
    position: relative;
    margin-top: 20px;
  }
    
  .email a { }
    
  .email .left-hand,
  .email .right-hand { 
    width: 25%;
    position: absolute;
    top: 20px; }

  .email .left-hand { 
    
    left: 20px;
    -webkit-transform: rotate(-10deg);
       -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
         -o-transform: rotate(-10deg);
            transform: rotate(-10deg); }
              
  .email .left-hand {
    -webkit-animation: rotateLeft 3s ease-in-out 0s infinite alternate;
       -moz-animation: rotateLeft 3s ease-in-out 0s infinite alternate;
        -ms-animation: rotateLeft 3s ease-in-out 0s infinite alternate;
         -o-animation: rotateLeft 3s ease-in-out 0s infinite alternate;
            animation: rotateLeft 3s ease-in-out 0s infinite alternate; }

    @-webkit-keyframes rotateLeft { from { -webkit-transform: rotate(-10deg); left: 20px; } to { -webkit-transform: rotate(10deg); left: 30px } }
       @-moz-keyframes rotateLeft { from {    -moz-transform: rotate(-10deg); left: 20px; } to {    -moz-transform: rotate(10deg); left: 30px } }
        @-ms-keyframes rotateLeft { from {     -ms-transform: rotate(-10deg); left: 20px; } to {     -ms-transform: rotate(10deg); left: 30px } }
         @-o-keyframes rotateLeft { from {      -o-transform: rotate(-10deg); left: 20px; } to {      -o-transform: rotate(10deg); left: 30px } }
            @keyframes rotateLeft { from {         transform: rotate(-10deg); left: 20px; } to {         transform: rotate(10deg); left: 30px } }
        
      .email .right-hand { 

        right: 20px; 
        -webkit-transform: rotate(10deg);
           -moz-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
             -o-transform: rotate(10deg);
                transform: rotate(10deg);}
                
      .email .right-hand {
        -webkit-animation: rotateRight 3s ease-in-out 1s infinite alternate;
           -moz-animation: rotateRight 3s ease-in-out 1s infinite alternate;
            -ms-animation: rotateRight 3s ease-in-out 1s infinite alternate;
             -o-animation: rotateRight 3s ease-in-out 1s infinite alternate;
                animation: rotateRight 3s ease-in-out 1s infinite alternate; }
                
    @-webkit-keyframes rotateRight { from { -webkit-transform: rotate(10deg); right: 20px; } to { -webkit-transform: rotate(-10deg); right: 30px; } }
       @-moz-keyframes rotateRight { from {    -moz-transform: rotate(10deg); right: 20px; } to {    -moz-transform: rotate(-10deg); right: 30px; } }
        @-ms-keyframes rotateRight { from {     -ms-transform: rotate(10deg); right: 20px; } to {     -ms-transform: rotate(-10deg); right: 30px; } }
         @-o-keyframes rotateRight { from {      -o-transform: rotate(10deg); right: 20px; } to {      -o-transform: rotate(-10deg); right: 30px; } }
            @keyframes rotateRight { from {         transform: rotate(10deg); right: 20px; } to {         transform: rotate(-10deg); right: 30px; } }
    
.sponsors {
  display: none;
  overflow: hidden;
  padding-bottom: 20px;
  background: url(../img/spnsr_ftr.png) 50% bottom no-repeat; }

  .sponsors > h2 {
    background: url(../img/spnsr_hdr.png) 50% 0 no-repeat; 
    height: 45px;
    margin-top: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
      
  .lt-ie8 .sponsors > h2 { background-position: 185px 0; }
  
  .sponsors ul {
    float: left;
    padding-bottom: 63px;
    background: url(../img/drips.png) 24px bottom no-repeat; }
  
  .sponsors li {
    background: #4d4d4d;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 4px 4px #000;
       -moz-box-shadow: 0 4px 4px #000;
        -ms-box-shadow: 0 4px 4px #000;
         -o-box-shadow: 0 4px 4px #000;
            box-shadow: 0 4px 4px #000;
    float: left;
    width: 210px;
    margin-left: 23px;
    padding: 20px 0; }
    
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 38em) { /* 560px */



        
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
